* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #364f6b;
  color: #fff;
}

.figure-container {
  fill: transparent;
  stroke-width: 4px;
  stroke: #fff;
  stroke-linecap: round;
}
.figure-part{
  display: none;
}
